<h2>New post</h2>

<form action="/new" method="POST">
  <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type post text hero..."></textarea><br>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>